<mat-toolbar id="header">
  <span>Placeholder</span>
</mat-toolbar>

<div id="main">
  <mat-card id="verses-card" class="card">
    <mat-card-header class="card-header">
      <span>Verses</span>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="card-content">
      <!-- Add instructions -->
      <mat-form-field id="verses-form-field">
        <mat-label>Text</mat-label>
        <textarea matInput cdkTextareaAutosize #versesText></textarea>
      </mat-form-field>

      <div id="options-list">
        <mat-checkbox class="options-checkbox" [(ngModel)]="removeVerseNumbers">Remove verse numbers</mat-checkbox>
        <mat-checkbox class="options-checkbox" [(ngModel)]="removeHeadings">Remove headings</mat-checkbox>
        <mat-checkbox class="options-checkbox" [(ngModel)]="removeFootnotes">Remove footnote indicators</mat-checkbox>
        <mat-checkbox class="options-checkbox" [(ngModel)]="insertNewlines">One line per verse</mat-checkbox>
      </div>

      <button mat-raised-button id="clean-button" type="button" [disabled]="!versesText.value"
          (click)="cleanVerses(versesText.value)">Clean</button>
      <button mat-flat-button id="reset-button" type="button" (click)="versesText.value = ''; results = '';">Reset</button>
    </mat-card-content>
  </mat-card>

  <mat-card id="results-card" class="card" *ngIf="results">
    <mat-card-header class="card-header">
      <span>Results</span>
      <button mat-icon-button id="copy-button" type="button" (click)="copyResults()" matTooltip="Copy results">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="card-content">
      <div id="results-text">{{ results }}</div>
    </mat-card-content>
  </mat-card>
</div>
